html, body {
    height: 100%;
}

.fullscreen {
    width: 100%;
    height: 100%;
    min-height: 100%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}


.with_scrollbar{
    /*height:100%;*/
    overflow-y: scroll;
    overflow-x: scroll;
}

.title{
    margin-top: 1%;
    font-size: large;
}

.btn-space{
    margin-top: 1%;
}

.nospace{
    margin:0;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
}

.html-style{
    height: 100%;
}

.breadcrumb-style{
    height: 7.5%; 
}

.buttontext {
    width: 95px;
    overflow: hidden;
    vertical-align: middle;
    white-space: nowrap;
    text-overflow: ellipsis;
}

/* GLYPHICON SIZES */
.gly-2x{
    font-size: 2.0em;
}

.gly-3x{
    font-size: 3.0em;
}

.gly-4x{
    font-size: 4.0em;
}

.ajaxProgress{
    display: none;
    position:fixed;
    text-align:  center;
    height: 300px;
    width: 500px;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(200, 200, 200);
    
}

.h4{
    font-size: 13px;
    line-height: 50px;
    vertical-align: middle;
}

.container-wordcloud{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
