.sidebar-nav {
    margin-top: 20px;
    padding: 0;
    list-style: none;
}

.with_scrollbar{
    height:100%;
    overflow-y: scroll;
    overflow-x: scroll;
}

.title{
    margin-top: 1%;
    font-size: large;
}

.btn-space{
    margin-top: 1%;
}

.nospace{
    margin:0;
    padding:0;
}
.page-header {
    background-color: #007bff;
    color: white;
    padding: 20px 20px 20px 40px;
    margin-bottom: 0.2%;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
}

.html-style{
    height: 100%;
}

.breadcrumb-style{
    height: 7.5%; 
    padding-bottom: 0.2%; 
    padding-top: 0.2%; 
    padding-top: 5px; 
    padding-bottom: 5px;
}
