{% extends "base_generic.html" %}

{% block title %}<title>Awesome Bibliothek</title>{% endblock %}
{% block breadcrumbs %}
<ol class="breadcrumb align-items-center"
  style="border-radius: 0; height:100%; background-color: lightgrey; font-size: large;">
  <li class="breadcrumb-item"><a href="{% url 'index' %}"><i style="margin-right: 0.5em; color: #EEEEEE;"
        class="glyphicon glyphicon-home"></i>Hauptmenü</a></li>
</ol>
{% endblock %}

{% block content %}
<div class="container-fluid" style="height: 93vh; width: 100%;">
    <div class="analysebutton row">
      <div class="col-md-6 padding-0">
          <button onclick="location.href='{% url 'webcrawler' %}'" type="button"
          class="btn btn-primary btn-xlarge">Webcrawler</button>
      </div>
      <div class="col-md-6 padding-0">
        <button onclick="location.href='{% url 'konfiguration' %}'" type="button"
          class="btn btn-primary btn-xlarge">Analyse</button>
      </div>
    </div>
</div>
{% endblock %}