{% extends "base_generic.html" %}

{% block title %}<title>Awesome Bibliothek</title>{% endblock %}


{% block content %}

      <div class="col-md-6 padding-0">
          <button onclick="location.href='{% url 'webcrawler' %}'" type="button"
          class="btn btn-primary btn-xlarge">Webcrawler</button>
      </div>
      <div class="col-md-6 padding-0">
        <button onclick="location.href='{% url 'konfiguration' %}'" type="button"
          class="btn btn-primary btn-xlarge">Analyse</button>
     
</div>
{% endblock %}