{% extends "base_generic.html" %}

{% block title %}<title>Awesome Bibliothek</title>{% endblock %}
{% block content %}
<html style="height:100%; padding:5%">
<body class="index_button_body">
  <div class="analysebutton row">
      <div class="col-md-6 padding-0">
    <button type="button" class="btn btn-primary btn-xlarge">Webcrawler</button>
    </div><div class="col-md-6 padding-0">
    <button type="button" class="btn btn-primary btn-xlarge">Analyse</button>
</div>
</div>
 </body>
</html>


{% endblock %}


