{% extends "base_generic.html" %}

{% block title %}<title>Analysetool</title>{% endblock %}
{% block content %}
<div class="container-fluid" style="height: 100%; width: 100%;">
  <div class="row" style="height: 100%;">
    <!-- LEFT COLUMN -->
    <div class="col-3" style="flex-flow: column; height: 100%; display:flex">
      <h1 class="title">Gespeicherte Konfigurationen</h1>

      <!-- LIST LEFT SIDE--> 
      <ul class="list-group with_scrollbar" style="flex-grow : 1;">
        <li class="list-group-item">Cras justo odio</li>
        <li class="list-group-item">Dapibus ac facilisis in</li>
        <li class="list-group-item">Morbi leo risus</li>
        <li class="list-group-item">Porta ac consectetur ac</li>
        <li class="list-group-item">Vestibulum at eros</li>
      </ul>
      <button type="button" class="btn btn-primary btn-md btn-block" style="white-space: normal"><span
          class="glyphicon glyphicon-file gly-2x"></span><br>Auswahl öffnen</button>
      <button type="button" class="btn btn-primary btn-md btn-block" style="white-space: normal"><span
          class="glyphicon glyphicon-minus gly-2x"></span><br>Auswahl löschen</button>
    </div>
    <div class="col-6">col-6</div>

    <!-- RIGHT COLUMN -->
    <div class="col-3">
      <h1 class="title">Informationen</h1>
      <div class="form-group row" style="padding: 0%;">
        <label class="col-6 col-form-label">Dokumente in Verzeichnis: </label>
        <div class="col-6">
          <label for="amount_documents" class="col-6 col-form-label">XXXX</label>
        </div>
      </div>

      <h1 class="title">Informationen</h1>
      <form>
        <div class="form-group row" style="padding: 0%;">
          <label for="inputEmail3" class="col-6 col-form-label">Anzahl Themen (max.)</label>
          <div class="col-6">
            <input type="email" class="form-control" id="inputEmail3">
          </div>
        </div>

        <div class="form-group row" style="padding: 0%;">
          <label for="inputEmail3" class="col-6 col-form-label">Anzahl Themen (max.)</label>
          <div class="col-6">
            <input type="email" class="form-control" id="inputEmail3">
          </div>
        </div>
      </form>

      <!-- BUTTON SAVE CONFIGURATION -->
      <button type="button" class="btn btn-primary btn-lg text-center"
        style="width: 100%; height: 25%; margin: auto; margin-top: 5%; display: block; white-space: normal;"><span
          class="glyphicon glyphicon-floppy-disk gly-4x"></span><br>Konfiguration speichern</button>

      <!-- BUTTON START ANALYSIS -->
      <button type="button" class="btn btn-primary btn-lg text-center"
        style="width: 100%; height: 25%; margin: auto; margin-top: 5%; display: block; white-space: normal;"><span
          class="fa fa-line-chart fa-4x"></span><br>Analyse starten</button>

    </div>
  </div>
</div>

{% endblock %}