{% extends "base_generic.html" %}
{% block title %}<title>Analysetool</title>{% endblock %}
{% block breadcrumb %}
<li class="breadcrumb-item active" aria-current="page">Konfiguration</li>
{% endblock %}
{% block content %}

<!-- ################### -->
<!-- ### LEFT COLUMN ### -->
<!-- ################### -->

<div class="col-md-3" style="flex-flow: column; display:flex;">
  <h1 class="title">Gespeicherte Konfigurationen</h1>

  <!-- LIST LEFT SIDE-->
  <ul id="config_list" class="list-group with_scrollbar" style="flex-grow:1;">
    <li class="list-group-item">Cras justo odio</li>
    <li class="list-group-item">Dapibus ac facilisis in</li>
    <li class="list-group-item">Morbi leo risus</li>
    <li class="list-group-item">Porta ac consectetur ac</li>
    <li class="list-group-item">Vestibulum at eros</li>

  </ul>

  <!-- BUTTONS LEFT SIDE-->
  <button type="button" class="btn btn-primary btn-md btn-block" style="white-space: normal"><span
      class="glyphicon glyphicon-file gly-2x"></span><br>Auswahl öffnen</button>
  <button type="button" onclick="deleteConfig();"class="btn btn-primary btn-md btn-block" style="white-space: normal"><span
      class="glyphicon glyphicon-minus gly-2x"></span><br>Auswahl löschen</button>
</div>

<!-- ################### -->
<!-- ### MIDDLE COLUMN ### -->
<!-- ################### -->
<div class="col-md-6" style="flex-flow: column; display:flex; margin: 0;">
  <h1 class="title" style="text-align:left;">Zu durchsuchende Webseiten</h1>
  <div class="row" style="height: 100%;">

    <div class="col-12 with_scrollbar" style="flex-flow: column; display: flex; margin: 0%;">

      <!-- TABLE MIDDLE -->
      <table id = "source_table" class="table">
        <thead>
          <tr>
            <!-- TABLE HEADER -->
            <th><input type="checkbox"  id="allActive"></th>
            <th scope="col">Bezeichnung</th>
            <th scope="col"><a href="javascript: sortByDate(2);">Datum</a></th>
            <th scope="col">Format</th>
            <th scope="col"><a class="deleteAll" href="">Löschen</a></th>
          </tr>
        </thead>
        <tbody>
          <!-- TABLE ITEMS -->
          {% for document in documents %}
          <tr class = "docIDClass" data-did="{{document.id}}">
            <td scope="row"><input type="checkbox"></td>
            <td>{{document.title}}</td>
            <td>01.11.2019</td>
            <td>{{document.extension}}</td>
            <td><a class="delete" href=""><span class="glyphicon glyphicon-trash"></span></a> </td>
            {% endfor %}
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>


<!-- ################### -->
<!-- ### RIGHT COLUMN ### -->
<!-- ################### -->
<div class="col-md-3" style="flex-flow: column; display:flex;">

  <h1 class="title">Informationen</h1>

  <div class="form-group row">

    <!-- INFORMATION RIGHT SIDE-->
    <label class="col-6 col-form-label">Dokumente in Verzeichnis: </label>
    <div class="col-6">
      <label for="amount_documents" class="col-6 col-form-label" style="margin-bottom: 2%;">XXXX</label>
    </div>

    <label class="col-6 col-form-label">Frühestes Datum: </label>
    <div class="col-6">
      <label for="amount_documents" class="col-6 col-form-label" style="margin-bottom: 2%;">XX.XX.XXXX</label>
    </div>

    <label class="col-6 col-form-label">Spätestes Datum: </label>
    <div class="col-6">
      <label for="amount_documents" class="col-6 col-form-label">XX.XX.XXXX</label>
    </div>
  </div>

  <div style="flex-grow: 1;"></div>

  <!-- SAVINGLOCATION RESULTS-->

  {% csrf_token %}
  <h1 class="title">Speicherort Ergebnisse</h1>

  <div class="input-group">
    <input type="text" class="form-control" placeholder="Search for...">
    <span class="input-group-btn">
      <button class="btn btn-primary" type="button"><span class="glyphicon glyphicon-folder-open"></span></button>
    </span>
  </div>

  <div style="flex-grow: 1;"></div>

  <!-- FILEPATH TO SOURCES-->
  <h1 class="title">Dateipfad zu Quellen</h1>

  <!-- BUTTON TO TRIGGER FILEUPLOAD -->
  <button type="button" class="btn btn-primary js-upload-photos">
    <span class="glyphicon glyphicon-cloud-upload"></span> Dateien hochladen
  </button>

  <!-- INPUT USED FOR FILEUPLOAD -->
  <input id="fileupload" type="file" name="file" multiple style="display: none;"
    data-form-data='{"csrfmiddlewaretoken": "{{ csrf_token }}"}'>

  <!-- PROGRESSBAR -->
  <div class="modal fade" id="modal-progress" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Uploading...</h4>
        </div>
        <div class="modal-body">
          <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: 0%;">0%</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div style="flex-grow: 1;"></div>

  <form id="configForm" method="POST">

    <h1 class="title">Einstellungen</h1>

    <!-- SETTINGS RIGHT SIDE-->
    <div class="form-group row">
      <label for="amount_topics" class="col-6 col-form-label" style="margin-bottom: 2%;">Anzahl Themen
        (max.)</label>
      <div class="col-6">
        <input type="number" class="form-control" onkeypress="return isNumberKey(event)" id="amount_topics">
      </div>

      <label for="text_from" class="col-6 col-form-label" style="margin-bottom: 2%;">Texte von</label>
      <div class="col-6">
        <div class="input-group date datepicker" data-provide="datepicker" id="date_text_from">
          <input type="text" class="form-control" id="date_from">
          <div class="input-group-addon">
            <span class="glyphicon glyphicon-th"></span>
          </div>
        </div>
      </div>

      <label for="text_from" class="col-6 col-form-label">bis</label>
      <div class="col-6">
        <div class="input-group date datepicker" data-provide="datepicker" id="date_text_until">
          <input type="text" class="form-control" id="date_until">
          <div class="input-group-addon">
            <span class="glyphicon glyphicon-th"></span>
          </div>
        </div>
      </div>
    </div>

    <!-- BUTTON SAVE CONFIGURATION -->
    <button type="button" onclick="saveOrOverwrite();" class="btn btn-primary btn-lg text-center"
      style="width: 100%; margin: auto; margin-top: 5%; display: block; white-space: normal;"><span
        class="glyphicon glyphicon-floppy-disk gly-2x"></span><br>Konfiguration speichern</button>

    <!-- BUTTON START ANALYSIS -->

    <button onclick="buttonIndex=1;" id="startID" value="startButton" type="submit"
      class="btn btn-primary btn-lg text-center"
      style="width: 100%; margin: auto; margin-top: 5%; display: block; white-space: normal;"><span
        class="fa fa-line-chart fa-2x"></span><br>Analyse starten</button>

    <div id="spinnerStart" style="display: none;">
      <h4>Analyse wird durchgeführt!</h4>
      <img src="{{ MEDIA_URL }}/static/images/ajax-loader.gif" alt="loading" />
    </div>
  </form>
</div>

<!-- DIALOGUE START ANALYSIS WITHOUT SOURCES -->
<div id="no_sources" style="display:none; cursor: default">
  <p></p> 
  <p>Bitte wählen Sie die Quellen aus, die analysiert werden sollen. </p></p>
  <input type="button" id="newTry" value="Zurück" /> 
</div> 

<!-- DIALOGUE CONFIRM DELETING ALL SOURCES -->
<div id="confirm_delete" style="display:none; cursor: default">
  <p></p> 
  <p>Sollen wirklich alle Quellen gelöscht werden?</p>
  <p>Zum Fortfahren klicken Sie bitte auf "Ja".</p> 
  <input type="button" id="delete_all_button" value="Ja" /> 
  <input type="button" id="cancel_delete_button" value="Abbruch" />
</div> 

<!-- DIALOGUE OVERWRITE -->
<div id="dia_overwrite" style="display:none; cursor: default">
  <p></p> 
  <p>Es existiert bereits eine Konfiguration mit diesem Namen. Soll diese überschrieben werden?</p>
  <input type="button" id="confirm_overwrite_button" value="Ja, überschreiben" /> 
  <input type="button" id="cancel_overwrite_button" value="Abbruch" />
</div> 

<!-- DIALOGUE SAVE -->
<div id="dia_save" style="display:none; cursor: default">
  <p></p> 
  <p>Bitte geben Sie den Namen der Konfiguration ein.</p>
  <form id="save_new_config_form" method="POST">
  <input style ="margin-bottom: 5%;"type="text" class="form-control" id="name_new_config">
  <input type="button" id="save_config_button" value="Bestätigen" /> 
  <input type="button" id="cancel_save_config_button" value="Abbruch" />
</form>
</div> 

{% endblock %}